// Fonts
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import '~bootstrap-vue/src/index.scss';


body > main#app {
  min-height: 100vh;
}

.bg-bbraun-green {
  background: rgb(0, 166, 116);
  background: linear-gradient(
    47deg,
    rgba(0, 166, 116, 1) 27%,
    rgba(0, 181, 128, 1) 58%,
    rgba(0, 217, 152, 1) 100%
  );
}
